*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    
}

.cabecalho-imagem{
    width: 13%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 12px;
    font-size: 50px;
}
*{
    margin: 0;
    padding: 0;
}
.escola-imagem{
    width: 20%;
}
.escola-imagem{
    background-image: linear-gradient(#ffffff,#ffffff);
    color: rgb(0, 0, 0);
}
.foto-imagem{
    background-image: linear-gradient(#000000,#000000);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 0;
} 
.estudante-div{
    text-align: center;
    padding: 19px 0;
}
.estudante-todos{
    display: grid;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.estudante-titulo{
    text-align: center;
    padding: 20px 0;
}
.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 40px;
    padding: 40px 0;

}
.cabecalho-lista-item a{
    text-decoration: none; 
    color: rgb(3, 3, 3);
}